In [4]:
import pandas as pd
import numpy as np
import string
import re
import nltk
from nltk.corpus import stopwords
import inflect

In [5]:
tweets = pd.read_csv("./data/usernames/LostAndFoundLON.csv", index_col=0)
# tweets.dropna(inplace=True)
len(tweets)

929

In [6]:
string.punctuation
def remove_punctuation(text):
    words_wo_punct= text.translate(str.maketrans('', '', string.punctuation))
    return words_wo_punct.lower()
tweets['text'] = tweets['text'].apply(lambda x: remove_punctuation(x))
tweets.head()

,text,timestamp,replyCount,retweetCount,likeCount,quoteCount,viewCount
id,,,,,,,
1647348954567147520,hi there lost a set of keys around bishops pa...,2023-04-15T21:19:31+00:00,0,0,0,0,39.0
1647279298745708546,lost black chanel cardholder at waterloo stati...,2023-04-15T16:42:44+00:00,0,0,0,0,64.0
1647199320066727937,lost a small black card holder ysl from finsbu...,2023-04-15T11:24:56+00:00,0,0,0,0,103.0
1646958095304740875,lost white envelope with cash in £50s somewher...,2023-04-14T19:26:23+00:00,0,0,0,0,103.0
1646816715219632129,i lost my black kate spade purse it has my dri...,2023-04-14T10:04:35+00:00,0,0,0,0,54.0

In [7]:
def tokenize(text):
    split=re.split("\W+",text) 
    return split
tweets['text']=tweets['text'].apply(lambda x: tokenize(x.lower()))
tweets.head()

,text,timestamp,replyCount,retweetCount,likeCount,quoteCount,viewCount
id,,,,,,,
1647348954567147520,"[hi, there, lost, a, set, of, keys, around, bi...",2023-04-15T21:19:31+00:00,0,0,0,0,39.0
1647279298745708546,"[lost, black, chanel, cardholder, at, waterloo...",2023-04-15T16:42:44+00:00,0,0,0,0,64.0
1647199320066727937,"[lost, a, small, black, card, holder, ysl, fro...",2023-04-15T11:24:56+00:00,0,0,0,0,103.0
1646958095304740875,"[lost, white, envelope, with, cash, in, 50s, s...",2023-04-14T19:26:23+00:00,0,0,0,0,103.0
1646816715219632129,"[i, lost, my, black, kate, spade, purse, it, h...",2023-04-14T10:04:35+00:00,0,0,0,0,54.0

In [8]:
nltk.download('stopwords')
stop_words = stopwords.words('english')
def remove_stopwords(text):
    words_wo_stop = [word for word in text if not word in stop_words]
    return words_wo_stop
tweets['text'] = tweets['text'].apply(lambda x: remove_stopwords(x))
tweets.head()

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/hokwanchu/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

,text,timestamp,replyCount,retweetCount,likeCount,quoteCount,viewCount
id,,,,,,,
1647348954567147520,"[hi, lost, set, keys, around, bishops, parksw6...",2023-04-15T21:19:31+00:00,0,0,0,0,39.0
1647279298745708546,"[lost, black, chanel, cardholder, waterloo, st...",2023-04-15T16:42:44+00:00,0,0,0,0,64.0
1647199320066727937,"[lost, small, black, card, holder, ysl, finsbu...",2023-04-15T11:24:56+00:00,0,0,0,0,103.0
1646958095304740875,"[lost, white, envelope, cash, 50s, somewhere, ...",2023-04-14T19:26:23+00:00,0,0,0,0,103.0
1646816715219632129,"[lost, black, kate, spade, purse, driving, lic...",2023-04-14T10:04:35+00:00,0,0,0,0,54.0

In [9]:
p = inflect.engine()
def singular(text):
    word_list = []
    for word in text:
        if word != '':
            if p.singular_noun(word) != False:
                word_list.append(p.singular_noun(word))
            else:
                word_list.append(word)
    return word_list
tweets['text'] = tweets['text'].apply(lambda x: singular(x))
tweets.head()

,text,timestamp,replyCount,retweetCount,likeCount,quoteCount,viewCount
id,,,,,,,
1647348954567147520,"[hi, lost, set, key, around, bishop, parksw6, ...",2023-04-15T21:19:31+00:00,0,0,0,0,39.0
1647279298745708546,"[lost, black, chanel, cardholder, waterloo, st...",2023-04-15T16:42:44+00:00,0,0,0,0,64.0
1647199320066727937,"[lost, small, black, card, holder, ysl, finsbu...",2023-04-15T11:24:56+00:00,0,0,0,0,103.0
1646958095304740875,"[lost, white, envelope, cash, 50, somewhere, i...",2023-04-14T19:26:23+00:00,0,0,0,0,103.0
1646816715219632129,"[lost, black, kate, spade, purse, driving, lic...",2023-04-14T10:04:35+00:00,0,0,0,0,54.0

In [10]:
tweets.to_csv('LostAndFoundLON_clean.csv')